#frametext {
  max-width: 555px;
  padding: 10px 20px;
  min-height: 6em;
  font-size: 15px;
  line-height: 1.25;
  background-color: nth($grey, 9);
}

.axis-label {
  text-anchor: middle;
}

.tooltip-text:nth-of-type(2) {
  font-style: italic;
}
